<div class="steps-wrapper">
  <div ng-hide="steps">
      <h1> <strong>Hipo</strong> necesita saber algunas cosas de vos</h1>
      <h3> Algunas preguntas nos alcanzan </h3>
      <div ng-show="hidden" class="step-start xlarge btn secondary"><a ng-click="start()" href="">Empezar!</a></div>

  </div>
  <div ng-show="steps[0]">
      <h1> Como te dicen tus amigos?</h1>
      <form name="myForm">
      <ul>
          <li class="append field">
              <input name="name" ng-model="name" ng-required="true"
              class="text input" placeholder="Tu apodo aca" />
          </li>
      </ul>
          <span class="error" ng-show="myForm.name.$error.required">
         <strong> Necesitamos saber como te llamas... </strong></span>
      <div ng-show="!myForm.name.$error.required"
          class="xlarge btn secondary icon-right entypo icon-right-open-big">
          <a ng-click="next()" href="">Siguiente</a>
      </div>
      </form>

  </div>

  <div ng-show="steps[1]">
        <h1><strong>{{name}}</strong>, cual de estas cosas te gustan hacer?</h1>
      <div class="questions"ng-show="activity.show"  ng-repeat="activity in activities">
          <h2>{{activity.name}}</h2>
          <img class="photo"alt ="{{activity.name}}" ng-src="{{activity.photo}}"/>
          <div class="choice">
            <div class="xlarge oval btn secondary">
                <a ng-click="no(activity)" href="">
                    <i class="icon-check" title=".icon-check"></i>
                </a>
            </div>
            <div class="xlarge oval btn danger">
                <a ng-click="yes(activity)" href="">
                    <i class="icon-cancel" title=".icon-cancel"></i>
                </a>
            </div>
          </div>
      </div>
  </div>
  <div ng-show="steps[2]">
        <h1><strong>{{name}}</strong>, como te moves por la ciudad?</h1>
      <div class="xlarge btn primary ">
          <a ng-click="movilidad('bici')" href="">Bici</a>
      </div>
      <div class="xlarge btn primary ">
          <a ng-click="movilidad('colectivo')" href="">Colectivo</a>
      </div>
        <div class="xlarge btn primary ">
          <a ng-click="movilidad('auto')" href="">Auto</a>
      </div>
      <h3> Dale, es la ultima...</h3>
  </div>
  <div ng-show="finish">
      <h1>Gracias {{name}}, ahora <strong>Hipo</strong> te puede decir que es lo mejor para vos!</h1>
          <div class="xlarge btn secondary"><a ng-click="submit()" href="">Dale!</a></div>
  </div>
</div>