extends layout

block content
    div(ng-app="hipoApp")
        div(ng-view)
block scripts
    script(src='/js/apps/core/controllers/main.js')
    script(src='/js/apps/core/controllers/suggestion.js')
    script(src='/js/apps/core/controllers/mock.js')
    script(src='/js/apps/core/services/activityService.js')
    script(src='/js/apps/core/services/suggestionService.js')
    script(src='/js/apps/core/services/geo.js')
    script(src='/js/apps/core/services/admin.js')
    script(src='/js/apps/core/models/profile.js')
    script(src='/js/apps/core/models/wizard.js')
    script(src='/js/apps/core/app.js')