!!! 5
html
  head
    title= title
    link(href='/css/gumby.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='/css/core/style.css', rel='stylesheet', type='text/css')
    link(href='/css/core/animations.css', rel='stylesheet', type='text/css')
    block styles
    script(src='/js/libs/angular/1.1.5/angular.min.js')
    script(src='/js/libs/moment/moment.min.js')
    meta(charset='utf-8')
    title #travel vine
  body
    block content
  block scripts
  //- script(src='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js')
  //- script(async, src='http://platform.vine.co/static/scripts/embed.js')