html, body{
	height: 100%;
	padding:0;
	margin:0;
	background: #e4f6a4;
}

body{

	overflow: hidden;
}

.fullheight{
	height: 100%;
}

/*home */
.home a{
	width: 171px;
	margin: -240px 0 0 -85px;
	padding-top: 265px;
	background: url(/img/que-hacer-hoy.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}

.home a h1{
	color: #333;
	padding-left: 30px;
}

.home a h2{
	font:bold 30px/25px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	position: relative;
	left: 32px;
	padding:30px 0 0;
}

.home a h2:before{
	content: "";
	width: 85px;
	height: 4px;
	background: #333;
	position: absolute;
	left: 0;
	top: 0;
}

/*main*/
.main-list{
	background:url(/img/que-hacer-hoy.png) center 30px no-repeat;
	padding: 350px 0 0;
}

.main-list .scroll-cont{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.main-list .scroll-cont .scroll-cont-data{
	text-align: center;
	overflow-y:scroll;
	width: 100%;
	height: 100%;
}

.main-list .scroll-cont .scroll-cont-data ul:after{
	clear: both;
	content: "";
	display: block;
}

.main-list .scroll-cont .scroll-cont-data li{
	width:25%;
	padding:0 10px 30px;
	float: left;
}

.main-list .scroll-cont .scroll-cont-data li h2{
	font:bold 23px/23px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-list .scroll-cont .scroll-cont-data li .img{
	width: 100%;
	height:100px;
	overflow: hidden;
}

/*suggestion*/
.suggestion{
	width: 100%;
	height: 100%;
}

.suggestion:after{
	clear: both;
	content: "";
	display: block;
}

.suggestion .col{
	float: left;
	width: 25%;
	height: 100%;
	position: relative;
}

.suggestion .col .text{
	position: absolute;
	left: 0;
	bottom: 20px;
	padding:0 0 0 48px;
}

.suggestion .col .text .icon-water{
	color: #333;
}

.suggestion .col .text h2{
	font:bold 65px/50px 'Open Sans';
	color: #333;
	text-transform: uppercase;
}
.suggestion .col .text h2 sub{
	color: #333;
	font-size: 30px;
	vertical-align:super;

}

.suggestion .col .text p{
	font:bold 30px/25px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 22px;
	position: relative;
}

.suggestion .col .text p:before{
	content: "";
	width: 85px;
	height: 4px;
	background: #333;
	position: absolute;
	left: 0;
	top: 0;
}


.suggestion .col-left{
	background-color: #e4f6a4;
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
}

.suggestion .col-left .que-hago{
	width: 162px;
	height: 323px;
	background:url(/img/que-hago-hoy.png) 0 0 no-repeat;
	position: absolute;
	top: 20px;
	left: 20px;
	padding:312px 0 0 35px;
}

.suggestion .col-left .que-hago a{
	font:bold 45px/45px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	background: url(/img/arrow.png) center right no-repeat;
	padding-right: 45px;
	width:120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.suggestion .main-col{
	float: left;
	width: 80%;
	height: 100%;
}

.suggestion .main-col .col:nth-child(1){
	background-color: #78e09d;
}

.suggestion .main-col .col:nth-child(2){
	background-color: #2dc7c2;
}

.suggestion .main-col .col:nth-child(3){
	background-color: #0e64ae;
}

.suggestion .main-col .col:nth-child(4){
	background-color: #aa2363;
}


.sug-text, h2 small {
  color: #333 !important;
}

/* Diagnostics */
.steps-wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 2%;
}

.steps-wrapper input.input {
  background: none;
  border: none;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 26px;
  font-weight: 600;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #333;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #333;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #333;
}


.steps-wrapper div.xlarge.btn.secondary,
.steps-wrapper div.xlarge.btn.primary {
  margin: 20px 0;
  background: #c2cf95 !important;
  border: none !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.questions {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.questions h2 {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.7);
  font-size: 52px;
  font-weight: 600;
  padding: 20px 0;
}

.questions img {
  width: 100%;
}

.questions .choice {
  width: 188px;
  margin: 0 auto;
  margin-top: -120px;
}

/*suggestion-map*/
.suggestion-map .title-gl{
	padding:10px 0 40px;
}

.suggestion-map .title-gl a{
	font:normal 13px/10px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.suggestion-map .title-gl h1{
	font:bold 38px/30px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.suggestion-map .scroll-cont{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.suggestion-map .scroll-cont .scroll-cont-data{
	width: 100%;
	height: 80%;
	overflow-y: scroll; 
}

.suggestion-map .scroll-cont .scroll-cont-data ul:after{
	clear: both;
	content: "";
	display: block;
}

.suggestion-map .scroll-cont .scroll-cont-data li{
	width:33.33%;
	padding:0 10px 30px;
	float: left;
}

.suggestion-map .scroll-cont .scroll-cont-data li h2{
	font:bold 23px/23px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.suggestion-map .scroll-cont .scroll-cont-data li h3{
	font:normal 15px/10px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	min-height: 20px;
	padding:0 0 10px;
}
.suggestion-map .scroll-cont .scroll-cont-data li h5{
	font:normal 13px/10px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	min-height: 20px;
	padding:0 0 10px;
}
