html, body{
	height: 100%;
	padding:0;
	margin:0;
	background: #e4f6a4;
}

body{

	overflow: hidden;
}


.fullheight{
	height: 100%;
}

/*home */
.home a{
	width: 171px;
	margin: -200px 0 0 -85px;
	padding-top: 300px;
	background: url(/img/que-hacer-hoy.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
}

.home a h2{
	font:bold 30px/25px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	position: relative;
	left: 32px;
	padding:30px 0 0;
}

.home a h2:before{
	content: "";
	width: 85px;
	height: 4px;
	background: #333;
	position: absolute;
	left: 0;
	top: 0;
}
/*.home div.copy h2{
	font: 30px/25px 'Open Sans';
	color: #333;

	position: relative;
}
.home div.date h2{
	font: bold 30px/25px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	position: relative;
}
*/

/*suggestion*/
.suggestion{
	width: 100%;
	height: 100%;
}

.suggestion:after{
	clear: both;
	content: "";
	display: block;
}

.suggestion .col{
	float: left;
	width: 25%;
	height: 100%;
	position: relative;
}

.suggestion .col .text{
	position: absolute;
	left: 0;
	bottom: 20px;
	padding:0 0 0 48px;
}

.suggestion .col .text .icon-water{
	color: #333;
}

.suggestion .col .text h2{
	font:bold 65px/50px 'Open Sans';
	color: #333;
	text-transform: uppercase;
}
.suggestion .col .text h2 sub{
	color: #333;
	font-size: 30px;
	vertical-align:super;

}

.suggestion .col .text p{
	font:bold 30px/25px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 22px;
	position: relative;
}

.suggestion .col .text p:before{
	content: "";
	width: 85px;
	height: 4px;
	background: #333;
	position: absolute;
	left: 0;
	top: 0;
}


.suggestion .col-left{
	background-color: #e4f6a4;
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
}

.suggestion .col-left .que-hago{
	width: 162px;
	height: 323px;
	background:url(/img/que-hago-hoy.png) 0 0 no-repeat;
	position: absolute;
	top: 20px;
	left: 20px;
	padding:312px 0 0 35px;
}

.suggestion .col-left .que-hago a{
	font:bold 45px/45px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	background: url(/img/arrow.png) center right no-repeat;
	padding-right: 45px;
}
.suggestion .col-left .otro-hago a{
	font:bold 15px/15px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
	position: absolute;
	bottom:275px;
	left: 53px;
	width:120px;
}
.suggestion .main-col{
	float: left;
	width: 80%;
	height: 100%;
}

.suggestion .main-col .col:nth-child(1){
	background-color: #78e09d;
}

.suggestion .main-col .col:nth-child(2){
	background-color: #2dc7c2;
}

.suggestion .main-col .col:nth-child(3){
	background-color: #0e64ae;
}

.suggestion .main-col .col:nth-child(4){
	background-color: #aa2363;
}

/*suggestion-map*/
.suggestion-map .scroll-cont{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.suggestion-map .scroll-cont .scroll-cont-data{
	width: 100%;
	height: 100%;
	overflow-y: scroll; 
}

.suggestion-map .scroll-cont .scroll-cont-data ul:after{
	clear: both;
	content: "";
	display: block;
}

.suggestion-map .scroll-cont .scroll-cont-data li{
	width:33.33%;
	padding:0 10px 30px;
	float: left;
}

.suggestion-map .scroll-cont .scroll-cont-data li h2{
	font:bold 23px/23px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.suggestion-map .scroll-cont .scroll-cont-data li h3{
	font:normal 15px/10px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	min-height: 20px;
	padding:0 0 10px;
}
.suggestion-map .scroll-cont .scroll-cont-data li h5{
	font:normal 13px/10px 'Open Sans';
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	min-height: 20px;
	padding:0 0 10px;
}