html, body{
	height: 100%;
	padding:0;
	margin:0;
}

body{
	
	overflow: hidden;
}
img {width:100%;}

.ng-scope, .ng-scope-view{
	height: 100%;
}
/*suggestion*/
.suggestion{
	width: 100%;
	height: 100%;
}

.suggestion:after{
	clear: both;
content: "";
display: block;
}

.suggestion .col{
	float: left;
	width: 25%;
	height: 100%;
	position: relative;
}

.suggestion .col .text{
	position: absolute;
	left: 0;
	bottom: 40px;
	padding:0 0 0 48px;
}

.suggestion .col .text h2{
	font:bold 65px/65px 'Open Sans';
	color: #333;
	text-transform: uppercase;
}

.suggestion .col .text p{
	font:bold 30px/25px 'Open Sans';	
	color: #333;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 42px;
	position: relative;
}

.suggestion .col .text p:before{
	content: "";
	width: 85px;
	height: 4px;
	background: #333;
	position: absolute;
	left: 0;
	top: 0;
}


.suggestion .col-left{
	background-color: #e4f6a4;
	float: left;
	width: 20%;
	height: 100%;
} 

.suggestion .main-col{
	float: left;
	width: 80%;
	height: 100%;
}

.suggestion .main-col .col:nth-child(1){
	background-color: #78e09d;
}

.suggestion .main-col .col:nth-child(2){
	background-color: #2dc7c2;
}

.suggestion .main-col .col:nth-child(3){
	background-color: #0e64ae;
}

.suggestion .main-col .col:nth-child(4){
	background-color: #aa2363;
}