<div class="fullheight suggestion"  ng-animate="'fade'">
    <div class="col col-left fullheight">
        <div class="que-hago">
            <a href="/#/donde">{{suggestion.name}}</a>
        </div>
        <div class="otro-hago">
            <h5>
                <a href="/#/que"><strong>{{profile.name}}</strong>, tenes ganas de hacer otra cosa?
                </a>
            </h5>
        </div>


        <div class="text">
            <h1><i ng-class="condition"></i></h1>
            <p>{{weekDay}}<br />{{numberDay}}<br />{{month}}</p>
        </div>
    </div>
    <div class="main-col">
        <h1> Lista o mapa van aca</h1>
        <ul>
            <li ng-repeat="point in points">
                <h2>{{point.name}}</h2>
                <h3>{{point.address}}</h3>
                <h5> esta a {{point.distance}} km </h5>
                <img ng-src="{{point.map}}">

            </li>
        </ul>
    </div>
</div>






