<div class="fullheight suggestion">
	<div class="col col-left fullheight">
		<h2>{{profile.name}}, Hoy es un genial dia para <a href="/#/que"><strong>{{suggestion.name}}</strong></a> </h2>
		<div class="text">
			<p>Sabado<br />trece<br />julio</p>
		</div>
	</div>
	<div class="main-col">
		<div class="col" ng-repeat="attr in suggestion.parameters">
			<div class="text">
				<h2>{{attr.value}} <small>{{attr.uom.symbol}}</small></h2>
				<p>
					<span ng-repeat="parsed in attr.parsed">
		            	{{parsed}}<br/ >
		        	</span>
		    	</p>
			</div>
		</div>
	</div>
</div>






